# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env.*
.pytest_cache/
.mypy_cache/
.cache/

# =========================
# PyInstaller
# =========================
**/build/
**/dist/
**/*.spec

# =========================
# Arquivos gerados (BI / Dados)
# =========================
*.csv
*.parquet
*.json
output/

# =========================
# Logs
# =========================
*.log

# =========================
# SQLite / Bases locais
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# CDC / Checkpoint (REMOVIDOS DA V1)
# =========================
**/cdc.py
**/checkpoint.py

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db
