# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env.*
.pytest_cache/
.mypy_cache/
.cache/

# =========================
# Build / Distribuição
# =========================
build/
dist/
*.spec
dist/Extrator_BI_Pro/_internal
src/app/build/
src/app/dist/
src/app/*.spec


# =========================
# Logs e Dados
# =========================
*.log
output/
data/*.db
data/*.sqlite
data/*.sqlite3

# =========================
# Exportações (BI / Dados)
# =========================
*.csv
*.parquet
*.json

# =========================
# Segurança
# =========================
*.key
*.pem
*.crt

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db
