# =========================
# Bibliotecas Base
# =========================
pandas
sqlalchemy  # Tradutor universal entre dialetos SQL

# =========================
# Drivers para Bancos de Dados
# =========================
psycopg2-binary   # PostgreSQL
pymysql           # MySQL
pyodbc            # SQL Server / Azure SQL
oracledb          # Oracle Database

# =========================
# Big Data / Parquet
# =========================
pyarrow            # Engine principal para arquivos Parquet

# =========================
# Utilidades
# =========================
python-dotenv      # Variáveis de ambiente (.env)
